
body > #bgRed {
    height: 100%;
    width: 100%;
    background-color: var(--bgRed);
    clip-path: circle(10% at 9% 3%);
    position: absolute;
    z-index: -1;
}
body > #bgPink {
    height: 100%;
    width: 100%;
    background-color: var(--bgPink);
    clip-path: circle(54.8% at 76% 6%);
    position: absolute;
    z-index: -1;
} 
body > #bgWhite {
    height: 100%;
    width: 100%;
    background-color: var(--bgWhite);
    clip-path: ellipse(31% 28% at 57% 50%);
    position: absolute;
    z-index: -1;
}
#bgPinkSecond {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--bgRed);
    clip-path: polygon(25% 0%, 53% 0, 53% 100%, 25% 100%, 0% 50%);
    z-index: -5;
}
#bgRedSecond {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--bgPink);
    clip-path: polygon(51% 0, 100% 0%, 100% 100%, 52% 100%, 0% 50%);
    z-index: -10;
}








































































